$primary-color-1: #0083ca;
$primary-color-2: #0072bc;
$primary-color-3: #0054a6;
$primary-color-dark1: #26247b;
$primary-color-dark2: #02003d;
$secondary-color-1: #ed1c24;
$secondary-color-2: #c72b30;
$secondary-color-3: #820000;
$secondary-color-4: #f96b6a;
$warning-color-1: #fcaf17;
$warning-color-2: #f15a22;
$text-color-1: #555555;
$text-color-2: #747474;
$hoverbg-color-1: #ecf1f9;
